<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AmazonDDFramework">

	<listeners>
	<listener class-name= "in.amazon.utilities.Reporting"/>
	
	</listeners>

	<test name="amazon Test">
	<parameter name="browser" value="chrome" />
	<classes>
		<class name="in.amazon.testCases.TC_LoginTest_001" />
	   <!--  <class name="in.amazon.testCases.TC_LoginDDT_002" />  -->
	    <class name="in.amazon.testCases.TC_AddNewCustomer_003" />
	     <class name="in.amazon.testCases.TC_EditCustomerdetails_004" />
	</classes>
</test>

</suite>